**/**/*.pyc
**/**/.catkin_tools
**/**/.vscode
**/**/build
**/**/devel
**/**/logs
**/**/test_detail.xml
**/**/venv
**/.catkin_tools
**/.vscode
**/build
**/devel
**/logs
*.code-workspace
*.log
*.pyc
*.swo
*.swp
.catkin_tools
.idea/*
.vscode
build
devel
docs/_build/
logs
virTest
.coverage
htmlcov/
